streamlit==1.47.0

langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-chroma==0.2.5
langchain-google-genai==2.1.8
langchain-text-splitters==0.3.8

chromadb==1.0.15
google-generativeai==0.8.5

beautifulsoup4
lxml
unstructured
tiktoken
pydantic
