streamlit
langchain-core==0.3.72
langchain-openai==0.3.28
langchain-community==0.3.27
langchain-chroma==0.2.5
langchain-text-splitters==0.3.9
unstructured==0.18.11
chromadb
pydantic==2.11.9
tiktoken
openai
